<!-- <div class="container-fluid h-100 mt-5 p-0">
  <div class="overlay w-100 h-100 pt-5">
    <form (ngSubmit)="Update(Name.value,Description.value,Sizes.value,+price.value,Image.value)" class="col-lg-6 mx-lg-auto col-md-10 col-sm-11 p-4 rounded-5 text-light fs-4" > 
      <fieldset>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" #Name name="Name" [ngModel]="pizza.Name">
      </div>
    
      
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" class="form-control" #Description name="Description" [ngModel]="pizza.Description">
      </div>
      
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Sizes</label>
        <input type="text" class="form-control" #Sizes name="Sizes" [ngModel]="pizza.Sizes">
      </div>
    
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input type="text" class="form-control"  #price name="Price" [ngModel]="pizza.price">
      </div>
    
      <div class="mb-3">
        <input type="file" class="form-control w-50 mx-lg-auto mt-4" #Image>
      </div>
    
      <button type="submit" class="btn btn-primary mx-auto">Update</button>

    </fieldset>  
    </form>
    
  </div>
    </div> -->


<!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* -->
<!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* -->
<!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* -->
<!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* -->
<!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* --><!-- ********* -->

<div class="container-fluid h-100 mt-5 p-0">
  <div class="overlay w-100 h-100 pt-5">
    <!-- <h3></h3> -->
    <!-- ********* -->
    <form [formGroup]="productForm" (ngSubmit)="update(Image.value)" class="col-lg-6 mx-lg-auto col-md-10 col-sm-11 p-4 rounded-5 text-light fs-4">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control"  formControlName="Name">
        </div>


        <div class="mb-3">
          <label class="form-label">Description</label>
          <input type="text" class="form-control" formControlName="Description">
        </div>

        <div class="mb-3">
          <label class="form-label">Sizes</label>
          <input type="text" class="form-control" formControlName="Sizes">
        </div>

        <div class="mb-3">
          <label class="form-label">Price</label>
          <input type="text" class="form-control" formControlName="price">
        </div>

        <div class="mb-3">
          <input type="file" class="form-control w-50 mx-lg-auto mt-4" #Image>
        </div>

        <button type="submit" class="btn btn-primary mx-auto">Update</button>

    </form>

  </div>
</div>