.first-div{
    padding: 20px 20px;
    background-color:#EBEBEB;
}

.button1,.button2{
    background-color: rgba(12, 13, 13, 0.526);
    opacity: 1 !important;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: black !important;
    top: 40%;
}

.slide-show-inner{
    border-radius: 14px;
}

