<div class="first-div">
    <div class="container-lg py-2 ">
        <div class="d-none d-lg-block">
            <div class="bar row justify-content-between">
                <div class="col-4 opacity-0">
                </div>
                <div class="tilte col-4">
                    <h2>POPULAR PRODUCTS</h2>
                </div>
                <div class="col-4 text-end viewAll-1">
                    <a class="viewAll" routerLink="/pizza">View ALL
                       <div class="d-inline icon">
                        <i class="fa-solid fa-greater-than fa-xs"></i>
                       </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="bar row justify-content-between d-block d-lg-none ">
            <h2 class="h2">Our Popular Pizza's</h2>
        </div>
        <!-- --------------------Ahmed--------------------------------- -->
        <div class="coponents my-3 mx-3 py-5">
            <div class="row justify-content-between ">
                <div class="mycard m-auto my-md-3 card col-lg-3 col-md-5 col-8 my-3 child">
                    <div class="parent text-center">  <!-- Added text-center -->
                      <div class="overflow-hidden p-4">
                        <img src="assets\Images\Pizza\Chicken BBQ.png" class="w-75" />
                      </div>
                        <div>
                          <div class="d-flex justify-content-start align-items-end h-100">
                          </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3 text-reset"><b>Chicken BBQ</b></h3>
                        <p class="text-reset">Grilled Chicken & Onions Loaded On BBQ Base</p>
                      <h5>Small | Large</h5>
                    </div>
                  </div>
               
                <!-- <div class="card col-2" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> -->
 
                <!--  -->
 
                <div class=" mycard m-auto my-md-3 card col-lg-3 col-md-5 col-8 my-3 child">
                    <div class="parent text-center">  <!-- Added text-center -->
                      <div class="overflow-hidden p-4">
                        <img src="assets\Images\Pizza\Chicken Supreme.png" class="w-75" />
                      </div>
                        <div>
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <!-- <h5><span class="badge bg-primary ms-2">New</span></h5> -->
                          </div>
                        </div>
                    </div>
                    <div class="card-body text-center ">
                        <h3 class="card-title mb-3 text-reset"><b>Chicken Supreme</b></h3>
                        <p class="text-reset">The ultimate mix of Chicken together with Mus</p>
                      <h5>Medium | Small</h5>
                      <!-- <h6 class="mb-3">EGP 121.00</h6>
                      <div class="d-flex justify-content-around">
                        <div><button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></div>
                        <p class="fs-4">5</p>
                        <div><button class="btn btn-success"><i class="fa-solid fa-plus"></i></button></div>
                      </div> -->
                    </div>
                  </div>
               
                  <!--  -->
                  <div class="mycard m-auto  my-md-3 card col-lg-3 col-md-5 col-8 my-3 child">
                    <div class="parent text-center">  <!-- Added text-center -->
                      <div class="overflow-hidden p-4">
                        <img src="assets\Images\Pizza\Original Chicken.png" class="w-75" />
                      </div>
                        <div>
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <!-- <h5><span class="badge bg-primary ms-2">New</span></h5> -->
                          </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3 text-reset"><b>Original Chicken</b></h3>
                        <p class="text-reset">Ranch base sauce with grilled chicken, mushro</p>
                      <h5>Medium | Small</h5>
                      <!-- <h6 class="mb-3">EGP 195.00</h6>
                      <div class="d-flex justify-content-around">
                        <div><button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></div>
                        <p class="fs-4">5</p>
                        <div><button class="btn btn-success"><i class="fa-solid fa-plus"></i></button></div>
                      </div> -->
                    </div>
                  </div>
               
 
 
 
                <div class="card col-2 opacity-0 d-none d-lg-block ">
 
                </div>
            </div>
        </div>
</div>