@if(deals.dealsmallPrice || deals.dealmediumPrice || deals.deallargePrice)
{
<div class="mycard card">
        <div class="parent text-center"> <!-- Added text-center -->
            <img src="{{deals.Image}}" class="w-75 child" />
            <div>
                <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                </div>
            </div>
        </div>
            
        <div class="card-body text-center">
            <!-- Card Details -->
            <p class="card-title fs-5 fw-medium">{{deals.Name}}</p>
            <p class="fs-6">{{deals.Description}}</p>
            @if(deals.dealsmallPrice)
            {
                <div class="mb-4 justify-content-around ">
                    <span class="mx-5 "><del class="delet">{{deals.smallPrice}}</del></span>
                    <span class="">{{deals.dealsmallPrice}}</span>
                </div>
            }
            @if(deals.dealmediumPrice)
            {
                <!-- =============================================================================== -->
                <p class="mb-3"><del class="delet">{{deals.mediumPrice}}</del></p>
                <p class="mb-3">{{deals.dealmediumPrice}}</p>
            }
            @if(deals.deallargePrice){
                <span class="mb-3"><del class="delet">{{deals.largePrice}}</del></span>
                <span class="mb-3">{{deals.deallargePrice}}</span>
            }
            <!-- </button> -->
            <!-- Card Buttons -->
            <div class="d-flex justify-content-around">
                <div><button class="btn btn-danger" (click)="Decreament()"><i class="fa-solid fa-trash-can"></i></button></div>
                <p class="fs-4">{{deals.quantity}}</p>
                <div><button class="btn btn-success" (click)="Increament()"><i class="fa-solid fa-plus"></i></button></div>
            </div>
        </div>
</div>
}
