<div class="app-footer">
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="container my-2">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #393838;">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-2">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-2">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/about-us" class="text-white">About us</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/profile" class="text-white">Profile</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Awards</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Help</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Contact</a>
              </h6>
            </div>
          </div>
        </section>
        <hr class="my-3" />
        <section class="mb-3">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Welcome to our pizza haven! Indulge in a culinary journey at our cozy restaurant, where savory slices
                meet a symphony of flavors. Immerse yourself in the art of pizza perfection, crafted with passion and
                served with a side of warmth.
              </p>
            </div>
          </div>
        </section>
        <section class="text-center mb-2">
          <a href="" class="text-white me-4">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-github"></i>
          </a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright: Restaurant.
        Featured products available at participating locations only. All rights reserved. Terms &amp; Conditions apply.
      </div>
    </footer>
  </div>
</div>