

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg position-fixed z-3 w-100">
  <!-- <div class="container-fluid "> -->
    
    <button appDirective class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <button *ngIf="isSidebarOpen" class="btn btn-secondary menu-button" (click)="toggleSidebar()">X</button> -->
    <!-- <div [ngClass]="{
      'collapse': !isSidebarOpen,
      'navbar-collapse': !isSidebarOpen,
      'tabs-nav-head': !isSidebarOpen,
      'sidebar': isSidebarOpen
    }" flex="" id="navbarNav"> -->
  <div class=" collapse navbar-collapse tabs-nav-head sidebar" flex="" id="navbarNav">

      <button class="btn btn-secondary d-lg-none menu-button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">X </button>
      
      <div class="logodiv" >
        <a routerLink="/home">
          <img class=" logo"  src="../../../assets/Images/Pizza-logo-design-template-Vector-PNG.png" alt="logo">
        </a>
      </div>
      
      <div class="ion-text-center single-menu-item melts"> 
        <a class="a-tags" routerLink="/home" routerLinkActive="selected">Home</a>
      </div>
      <div class="ion-text-center single-menu-item melts">
        <a routerLink="/pizza" class="a-tags" routerLinkActive="selected">Pizza</a>
      </div>
      <div class="ion-text-center single-menu-item deals">
        <a routerLink="/deals" class="a-tags" routerLinkActive="selected">Deals</a>
      </div>
      <div class="ion-text-center single-menu-item pizza">
        <a routerLink="/starters" class="a-tags" routerLinkActive="selected">Starters</a>
      </div>
      <div class="ion-text-center single-menu-item starters">
        <a class="a-tags" routerLink="/profile" routerLinkActive="selected">Profile</a>
      </div>
    <div class="dropdown">
        <!-- <div class="ion-text-center single-menu-item more-option"> 
          <a class="icon-more" href="#"> More <i class="fa fa-fw fa-angle-double-down"></i></a> -->
      <!-- </div> -->
      <!-- <ul class="dropdown-content">
        <li>
          <div class="user-menu-title ion-text-capitalize">Salads</div>
        </li>
        <li>
          <div class="user-menu-title ion-text-capitalize">Desserts</div>
        </li>
        <li>
          <div class="user-menu-title ion-text-capitalize">Drinks</div>
        </li>
        <li>
          <div class="user-menu-title ion-text-capitalize">Everyday Pizza</div>
        </li>
        <li>
          <div class="user-menu-title ion-text-capitalize">Pasta</div>
        </li>
      </ul> -->
    </div>
  </div>
  
  <!-- </div> -->
</nav>


