
<div class="card">
    <div class="parent">
      <img src="{{user.Image}}" class="w-75 child" />
        <div>
          <div class="d-flex justify-content-start align-items-end h-100">
            <h5><span class="badge bg-primary ms-2">New</span></h5>
          </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title mb-3 text-reset">{{user.Name}}</h5>
        <p class="text-reset">{{user.Description}}</p>
      <h5>{{user.Sizes}}</h5>
      <h6 class="mb-3">{{user.Price}}</h6>
      <div class="d-flex justify-content-around">
        <div><button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></div>
        <p class="fs-4">5</p>
        <div><button class="btn btn-success"><i class="fa-solid fa-plus"></i></button></div>
      </div>
    </div>
  </div>
