
<div class="row m-auto">
    <div class="col-12">
        <div class="d-none d-lg-block">
            <app-carousel></app-carousel>
        </div>
        <!-- At medium to small screens -->
        <div class="d-block  d-lg-none">
            <h1>Hellllllllo</h1>
        </div>
    </div>
    <!-- Appear at large screens only -->
    <div class="col-12 d-none d-lg-block">
        <app-deals></app-deals>
    </div>
    <div class="col-12">
        <app-products></app-products>
    </div>
    <!-- Appear at large screens only -->
    <div class="col-12 d-none d-lg-block">
        <app-download></app-download>
    </div>
</div>


