<div class="row">
    <div class="col-12 caro">
        <!-- Appear at large screens only -->
        <div class="d-none d-lg-block">
            <app-carousel></app-carousel>
        </div>
        <!-- Appear at medium to small screens -->
        <div class="d-block d-lg-none">
            <app-menu></app-menu>
        </div>
    </div>
    <!-- Appear at large screens only -->
    <div class="col-12 d-none d-lg-block">
        <app-deals></app-deals>
    </div>
    <div class="col-12">
        <app-products></app-products>
    </div>
    <div class="col-12">
        <!-- Appear at large screens only -->
        <div class="d-none d-lg-block">
            <app-download></app-download>
        </div>
        <!-- Appear at medium to small screens -->
        <div class="d-block d-lg-none">
            <app-button></app-button>
        </div>
    </div>
</div>


