
<div class="cart-container">
  <div class="cart-card" *ngIf="isEmpty()">
      <!-- Cart is empty -->
      <img class="circular-image w-100 h-50 " src="assets\Images\cartEmpty.png" alt="Empty Cart" />
      <h3 style="font-weight: bolder; color: #8A9091;" class="text-center mt-1">Your cart is empty.</h3>
      <h5 style="font-weight:normal ; color: #BBC1CD;" class="text-center">Please add some item from the menu to place an order.</h5>
    </div>
    
  <!-- Rest of your cart content -->
  <div class="cart-card" *ngIf="!isEmpty()">
    <!-- Cart with items content -->
    <div class="cart-header">
      <h2 class="ion-text-uppercase ion-text-center" style="margin-left: 20px; ">Your Cart</h2>
      <hr>

    </div>

    <div class="cart-items" [ngClass]="{'scrollable': cartItems.length > 1}">
      <div *ngFor="let item of cartItems" class="cart-item flex-lg-row flex-column" style="border: none;">
        <div class="item-details">
          <img class="circularimg mx-auto" src="{{ item.Image}}" alt="Product Image">
          <div >
            <h4>{{ item.Name }}</h4>
            <pre style="font-size: larger; font-weight: bolder;">{{item.size }}    {{item.price | currency: 'EGP ' }}</pre>
          </div>
        </div>
        
        <!-- Counter and buttons -->
        <div class="counter-buttons my-lg-0 my-sm-2">
          <button class="btn btn-danger" (click)="toggleButton(item)">
            <i class="fa-solid fa-trash-can"></i>
          </button>
          <div class="quantity" style="font-size: large; font-weight:500;">{{ item.quantity }}</div>
          <button class="btn btn-success"  (click)="incrementItem(item)" ><i class="fa-solid fa-plus"></i></button>
        </div>
      </div>
    </div>

    <!-- Total amount display -->
    <div class="row" style="margin-left: 20px;">
      <div class="counter-circle col-3 bg-success">
      <div class="shape flex ion-align-items-center ion-justify-content-center" style="font-size: large; font-weight: bolder;">{{ calculateTotalQuantity() }}</div>
      </div>
      <div class="total-amount col-9">
        <h6  style="font-size: large;">Total Amount: {{totalAmount| currency: 'EGP '}}</h6>
      </div>
    </div>


    <!-- Continue button -->
    <!-- <button class="continue-button  btn btn-success" (click)="continueShopping()" routerLink="/mycart">Continue</button>     -->
    <button class="continue-button  btn btn-success" routerLink="/mycart">Continue</button>  
  </div>
</div>


