<div class="text-center container-fluid py-5 mt-5">
    <div class="row justify-content-around">
        <div class="col-8 d-flex flex-wrap justify-content-evenly">
            @for (deal of alldeals; track deal.id){
                <app-deals-cart class="col-lg-3 col-md-5 my-4 mx-2" style="min-width: 300px;"  [receiveDataFromParent]="sendDataFromParent" [deals]="deal" (objectFromEventEmitter)="receiveDataFromChild($event)"></app-deals-cart>
            }
        </div>
        <div class="col-sm-12 col-lg-4 py-4">
            <app-small-cart [receiveDataFromParent]="sendDataFromParent" (objectFromEventEmitter)="receiveDataFromChild($event)"></app-small-cart>
        </div>
    </div>
</div>

