<p>product-crud works!</p>

<div class="col-12 d-flex p-10">


  <div class="col-3">
    <p>CRUD Operation + Filter</p>
    <button class="btn btn-primary" routerLink="/addpizza">Add Item</button>
    <!-- Filter DropDown -->
    <div class="dropdown" style="margin-top: 20px;">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort
      </button>
      <ul class="dropdown-menu text-center">

        <li><button class="dropdown-item" (click)="sortId()">Default</button></li>

        <li><button class="dropdown-item" (click)="sortHToL()">Price High-Low</button></li>

        <li><button class="dropdown-item" (click)="sortLToH()">Price Low-High</button></li>

      </ul>
    </div>

    <div class="dropdown" style="margin-top: 20px;">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Size
      </button>
      <ul class="dropdown-menu text-center">

        <li><button class="dropdown-item" (click)="Default()">Default</button></li>

        <li><button class="dropdown-item" (click)="Large()">Large</button></li>

        <li><button class="dropdown-item" (click)="Medium()">Medium</button></li>

        <li><button class="dropdown-item" (click)="Small()">Small</button></li>

      </ul>
    </div>

  </div>


  <div class="col-8">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (prd of pizza; track prd.id) {
        <tr>
          <td>{{prd.id}}</td>
          <td>{{prd.Name}}</td>
          <td>{{prd.Price}}</td>
          <td>
            <a class="dropdown-item" routerLink="/pizza/{{prd.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
              fill="green" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
            </svg></a>
          </td>
        </tr>
        }

      </tbody>
    </table>
  </div>



</div>