<div class="first-div">
    <div class="container">
        <div class="bar row justify-content-between">
            <div class="col-4 opacity-0">
            </div>
            <div class="tilte col-4">
                <h2>EXCLUSIVE DEALS</h2>
            </div>
            <div class="col-4 text-end viewAll-1">
                <a class="viewAll" routerLink="/pizza">View ALL
                   <div class="d-inline icon">
                    <i class="fa-solid fa-greater-than fa-xs"></i>
                   </div>
                </a>
            </div>
        </div>
        <!-- --------------------Ahmed----------------------------------->
        <div class="row py-3">
            <div class="col-3">
                <app-product-card [user]="oneproduct"></app-product-card>
            </div>
        </div>
    </div>
</div>