<div class="finalSection ">
    <div class="container ">
          <!-- Logo -->
    <div class="pizzaHutLogo">
        <img class="logoimg" src="../../../assets/Images/Pizza-logo-design-template-Vector-PNG.png" alt="Pizza Hut Logo">
    </div>

    <!-- Content -->
    <h3>TRY OUR NEW PIZZA</h3>
    <p>Introducing the all new “Pizza Egypt” app for easy ordering and great exclusive deals.</p>

    <!-- Download Buttons -->
    <div class="downloadButtons">
        <div class="androidApp">
            <a href="https://play.google.com/store/apps/details?id=com.ph.egypt&hl=en_US&gl=US&pli=1" target="_blank">
                <img src="../../../assets/Images/play-store-icon.png" alt="Download Pizza Hut with Android"> 
            </a>   
        </div>
        <div class="iosApp">
            <a href="https://apps.apple.com/eg/app/pizza-hut-egypt-order-food-now/id1511528286" target="_blank">
                <img src="../../../assets/Images/ios-store-icon.png" alt="Download Pizza Hut With ios">
            </a>
        </div>
    </div>
    </div>
</div>

