.finalSection
{
    background-image: url("../../../assets/images/romas_pizza_and_italian_restaurant_cover.jpeg");
    background-repeat: no-repeat;
    background-position-x: 0px ;
    background-position-y: 0;
    background-size: cover;
    color: white;
    padding-left: 40px;
}

.pizzaHutLogo{
    padding-block: 20px;
}

.logoimg
{
    width: 60px;
    border-radius: 50%;
}

h3
{
    margin-block: 10px;
    font-size: 20px;
    font-weight: 700;
}

p
{
    margin-block: 10px;
    width: 400px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    font-family: "Open Sans";
}

.androidApp
{
    display: inline-block;
}

.downloadButtons{
    margin-top: 20px;
    padding: 20px 0px;
}

.iosApp
{
    margin-left: 20px;
    display: inline-block;
}